@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Your custom color palette */
  --platinum: #DCDCDD;
  --silver: #C5C3C6;
  --charcoal: #46494C;
  --slate: #4C5C68;
  --cerulean: #1985A1;
}

@theme inline {
  /* Base colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Fonts */
  --font-sans: 'Space Grotesk', var(--font-geist-sans);
  --font-mono: 'Space Mono', var(--font-geist-mono);
  
  /* Your custom colors integrated into Tailwind */
  --color-platinum: var(--platinum);
  --color-silver: var(--silver);
  --color-charcoal: var(--charcoal);
  --color-slate: var(--slate);
  --color-cerulean: var(--cerulean);

    /* Add custom border radius values */
    --radius-big-block: 48px;
    --radius-small-block: 32px;
    --radius-pill: 9999px;
    --radius-normal: 8px;

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
 
  color: var(--foreground);
  font-family: 'Space Grotesk', sans-serif;
}



/* @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes scaleIn {
  from { opacity: 0; transform: translate(-50%, -50%) scale(0.9); }
  to { opacity: 1; transform: translate(-50%, -50%) scale(1); }
}
.animate-fadeIn { animation: fadeIn 0.2s ease-out; }
.animate-scaleIn { animation: scaleIn 0.2s ease-out; }
 */
